# project files
*.cproject
*.project

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.axf
*.elf
*.bin
*.hex

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
